| Powered by
= ' '
a(href="https://github.com/jvandemo/hb-bootstrap") hb-bootstrap
= ' '
| for
= ' '
a(href="http://harpjs.com") Harp
= ' '
| by
= ' '
a(href="http://www.jvandemo.com") Jurgen Van de Moere