<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-growl-notifications by jvandemo</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Angular-growl-notifications</h1>
        <p>Growl notifications for AngularJS</p>

        <p class="view"><a href="https://github.com/jvandemo/angular-growl-notifications">View the Project on GitHub <small>jvandemo/angular-growl-notifications</small></a></p>


        <ul>
          <li><a href="https://github.com/jvandemo/angular-growl-notifications/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/jvandemo/angular-growl-notifications/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/jvandemo/angular-growl-notifications">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>
<a name="growl-notifications-for-angularjs" class="anchor" href="#growl-notifications-for-angularjs"><span class="octicon octicon-link"></span></a>Growl notifications for AngularJS</h1>

<p>Declaratively create notifications that automatically disappear after a specified timeout.</p>

<p>Think Growl, but in AngularJS. Oh, and Bootstrap compatible too.</p>

<p>Growl notifications for AngularJS allows you to:</p>

<ul>
<li>create notifications without programming</li>
<li>specify a custom timeout for each notification</li>
<li>use directives anywhere in your markup to create notifications</li>
<li>use directives anywhere in your markup to show notifications with Bootstrap compatible markup</li>
<li>use AngularJS expressions inside notifications</li>
<li>display sanitized HTML inside notifications (requires ngSanitize module)</li>
<li>completely customize the markup that is used to render the notifications</li>
<li>customize the CSS styles used to display the notifications</li>
<li>use the API to control everything programmatically if you want to</li>
</ul><p>Check out this <a href="http://jvandemo.github.io/angular-growl-notifications/demo/">online demo</a>.</p>

<p>Let's examine a quick example!</p>

<h2>
<a name="quick-example" class="anchor" href="#quick-example"><span class="octicon octicon-link"></span></a>Quick example</h2>

<p>Load the required script libraries:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"angular.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"angular-sanitize.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"growl-notifications.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
</pre></div>

<p>Specify the <code>growlNotifications</code> and <code>ngSanitize</code> modules as dependencies in your Angular app:</p>

<div class="highlight highlight-javascript"><pre><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'yourApp'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'growlNotifications'</span><span class="p">,</span> <span class="s1">'ngSanitize'</span><span class="p">]);</span>
</pre></div>

<p>Put this line anywhere in your HTML markup to specify where you want to display the notifications:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;div</span> <span class="na">growl-notifications</span><span class="nt">&gt;&lt;/div&gt;</span>
</pre></div>

<p>The <code>growl-notifications</code> directive will automatically render Bootstrap compatible markup to
display notifications using Bootstrap alert boxes.</p>

<p>You can also create your own custom markup to display notifications any way you like.
We will get to that later.</p>

<p>Use the <code>growl-notification</code> directive to create a notification that will automatically disappear after 5 seconds:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;div</span> <span class="na">growl-notification</span><span class="nt">&gt;</span>
    Awesome, I will automatically disappear after 5 seconds.
<span class="nt">&lt;/div&gt;</span>
</pre></div>

<p>This will cause a notification to be displayed inside the <code>&lt;div growl-notifications&gt;&lt;/div&gt;</code> that is automatically removed after 5 seconds.</p>

<p>That's it! You've got a fully working growl notification system in just 3 lines of code!</p>

<p>And if you are using Bootstrap, it will already look great too.</p>

<p>But there is more... much more... so read on...</p>

<h2>
<a name="creating-notifications" class="anchor" href="#creating-notifications"><span class="octicon octicon-link"></span></a>Creating notifications</h2>

<p>There are 2 ways to create notifications:</p>

<ul>
<li>using the <code>growl-notification</code> directive in your HTML</li>
<li>using the <code>add()</code> method of the <code>growlNotifications</code> service in your JavaScript code</li>
</ul><h3>
<a name="using-the-growl-notification-directive" class="anchor" href="#using-the-growl-notification-directive"><span class="octicon octicon-link"></span></a>Using the growl-notification directive</h3>

<p>The <code>growl-notification</code> directive allows you to conveniently create notifications
from within your HTML markup:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;div</span> <span class="na">growl-notification</span><span class="nt">&gt;</span>
    Awesome, I will automatically disappear after 5 seconds.
<span class="nt">&lt;/div&gt;</span>
</pre></div>

<p>You can add conditional notifications, which are great when working with forms:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;div</span> <span class="na">growl-notification</span> <span class="na">ng-if=</span><span class="s">"formSubmitted"</span><span class="nt">&gt;</span>
    Congratulations, the form was submitted successfully!

    This notification will be shown when $scope.formSubmitted evaluates
    as truthy and will disappear automatically after 5 seconds.
<span class="nt">&lt;/div&gt;</span>
</pre></div>

<p>You can use expressions to create personalized notifications:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;div</span> <span class="na">growl-notification</span><span class="nt">&gt;</span>
    Hello {{name}}

    This will display "Hello world" if $scope.name = "world"
<span class="nt">&lt;/div&gt;</span>
</pre></div>

<p>Expressions are evaluated against the scope where the <code>growl-notification</code> directive is used, not where
the <code>growl-notifications</code> is placed.</p>

<p>This is more intuïtive as it refers to the scope where you are using the directive.</p>

<p>Finally you can also use HTML markup to make your notifications look great:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;div</span> <span class="na">growl-notification</span><span class="nt">&gt;</span>
    <span class="nt">&lt;b&gt;</span>Hello bold {{name}}<span class="nt">&lt;/b&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>

<p>To allow HTML to be used inside the directive, the <code>ngSanitize</code> module is required, hence the need
to specify it as a dependent module in your AngularJS app.</p>

<h3>
<a name="using-the-growlnotifications-service" class="anchor" href="#using-the-growlnotifications-service"><span class="octicon octicon-link"></span></a>Using the growlNotifications service</h3>

<p>The growlNotifications service centrally manages the notifications and can be injected anywhere in your AngularJS app.</p>

<p>To create a notification from within a controller:</p>

<div class="highlight highlight-javascript"><pre><span class="nx">angular</span><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'someCtrl'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'growlNotifications'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">growlNotifications</span><span class="p">){</span>

    <span class="c1">// Add a notification</span>
    <span class="nx">growlNotifications</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'Hello world'</span><span class="p">);</span>

<span class="p">}]);</span>
</pre></div>

<p>Each notification has three properties:</p>

<ul>
<li>
<code>message</code>: the message to display inside the HTML, can contain expressions and HTML</li>
<li>
<code>type</code>: the notification type, can be any string and can be used to filter notifications or style them by type, defaults to 'info'</li>
<li>
<code>ttl</code>: the number of milliseconds to wait before the notification is removed, defaults to 5000 (5 seconds)</li>
</ul><p>The <code>add(message, type, ttl)</code> method allows you to specify each property like this:</p>

<div class="highlight highlight-javascript"><pre><span class="c1">// Add a notification with type 'info' that is removed after 5 seconds</span>
<span class="nx">growlNotifications</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'Hello world'</span><span class="p">);</span>

<span class="c1">// Add a notification with type 'warning' that is removed after 5 seconds</span>
<span class="nx">growlNotifications</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'Hello world'</span><span class="p">,</span> <span class="s1">'warning'</span><span class="p">);</span>

<span class="c1">// Add a notification with type 'warning' that is removed after 2 seconds</span>
<span class="nx">growlNotifications</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'Hello world'</span><span class="p">,</span> <span class="s1">'warning'</span><span class="p">,</span> <span class="mi">2000</span><span class="p">);</span>
</pre></div>

<h2>
<a name="displaying-the-notifications" class="anchor" href="#displaying-the-notifications"><span class="octicon octicon-link"></span></a>Displaying the notifications</h2>

<p>There are 2 ways to display notifications:</p>

<ul>
<li>using the <code>growl-notifications</code> directive in your HTML to create boilerplate Bootstrap compatible markup</li>
<li>using the <code>notifications</code> property of the <code>growlNotifications</code> service to create your custom markup</li>
</ul><h3>
<a name="using-the-growl-notifications-directive" class="anchor" href="#using-the-growl-notifications-directive"><span class="octicon octicon-link"></span></a>Using the growl-notifications directive</h3>

<p>The <code>growl-notifications</code> directive allows you to display the notifications anywhere in your HTML:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;div</span> <span class="na">growl-notifications</span><span class="nt">&gt;&lt;/div&gt;</span>
</pre></div>

<p>Under the hood, the element is transformed to:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"list-unstyled"</span> <span class="na">growl-notifications</span><span class="nt">&gt;&lt;/ul&gt;</span>
</pre></div>

<p>Whenever you create a notification, a <code>li</code> item with Bootstrap compatible alert markup is created and removed when
the TTL has expired:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"list-unstyled"</span> <span class="na">growl-notifications</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"alert alert-{{type}}"</span><span class="nt">&gt;</span>
        Notification message
    <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</pre></div>

<p>The <code>li</code> item is assigned a CSS class <code>alert-{{type}}</code> where type is the type you specified for the notification.</p>

<p>This allows you to easily use Bootstrap compatible alert styles:</p>

<div class="highlight highlight-javascript"><pre><span class="c1">// alert-info</span>
<span class="nx">growlNotifications</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'Hello world'</span><span class="p">,</span> <span class="s1">'info'</span><span class="p">);</span>

<span class="c1">// alert-warning</span>
<span class="nx">growlNotifications</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'Hello world'</span><span class="p">,</span> <span class="s1">'warning'</span><span class="p">);</span>

<span class="c1">// alert-danger</span>
<span class="nx">growlNotifications</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'Hello world'</span><span class="p">,</span> <span class="s1">'danger'</span><span class="p">);</span>

<span class="c1">// alert-success</span>
<span class="nx">growlNotifications</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'Hello world'</span><span class="p">,</span> <span class="s1">'success'</span><span class="p">);</span>
</pre></div>

<h3>
<a name="using-the-notifications-property-of-the-growlnotifications-service" class="anchor" href="#using-the-notifications-property-of-the-growlnotifications-service"><span class="octicon octicon-link"></span></a>Using the notifications property of the growlNotifications service</h3>

<p>First assign the <code>growlNotifications</code> service to your <code>$scope</code>:</p>

<div class="highlight highlight-javascript"><pre><span class="nx">angular</span><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'someCtrl'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'growlNotifications'</span><span class="p">,</span> <span class="s1">'$scope'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">growlNotifications</span><span class="p">,</span> <span class="nx">$scope</span><span class="p">){</span>

    <span class="c1">// Make sure the service can be accessed from within the view</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">growlNotifications</span> <span class="o">=</span> <span class="nx">growlNotifications</span><span class="p">;</span>

<span class="p">}]);</span>
</pre></div>

<p>Then loop over the <code>notifications</code> property in your view template:</p>

<div class="highlight highlight-html"><pre><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"list-unstyled"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">"(id, notification) in growlNotifications.notifications"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-{{notification.type}}"</span><span class="nt">&gt;</span>
            {{notification.message}}
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</pre></div>

<p>This allows you to create virtually any markup you could possible think of.</p>

<h2>
<a name="change-log" class="anchor" href="#change-log"><span class="octicon octicon-link"></span></a>Change log</h2>

<h3>
<a name="v040" class="anchor" href="#v040"><span class="octicon octicon-link"></span></a>v0.4.0</h3>

<ul>
<li>Added $animate support</li>
<li>Updated demo page</li>
</ul><h3>
<a name="v030" class="anchor" href="#v030"><span class="octicon octicon-link"></span></a>v0.3.0</h3>

<ul>
<li>Added dist directory with pre-built library files</li>
<li>Added demo page</li>
</ul><h3>
<a name="v020" class="anchor" href="#v020"><span class="octicon octicon-link"></span></a>v0.2.0</h3>

<ul>
<li>Added <code>growl-notification</code> directive to conveniently add notifications from within HTML markup</li>
<li>Added <code>growl-notifications</code> directive to conveniently display notifications from within HTML markup</li>
<li>Added documentation</li>
</ul><h3>
<a name="v010" class="anchor" href="#v010"><span class="octicon octicon-link"></span></a>v0.1.0</h3>

<ul>
<li>Initial version</li>
</ul>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/jvandemo">jvandemo</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>