.container
    .jumbotron
        h1 Congratulations
        p Bootstrap boilerplate for Harp is successfully installed.
        p
            a.btn.btn-primary.btn-lg(href="#{baseUrl}/docs") View the documentation