h1 About Growl notifications for AngularJS

p I wrote this library because I couldn't find a library that provided an easy way to declaratively create Mac OS X like Growl notifications from within the view layer of an AngularJS application.

p By sharing this library I hope to give back some love to the amazing AngularJS community.

p I hope you enjoy using it!

p
    | Best regards
    br
    | Jurgen Van de Moere

h2 License

p MIT license

h2 The author

ul
    li View my <a href="http://www.jvandemo.com">blog</a>
    li Follow me on <a href="https://twitter.com/jvandemo">Twitter</a>