<!DOCTYPE html>
<html>
<head>
    <title>Examples</title>
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css"/>
    <script type="text/javascript" src="/bower/angular/angular.js"></script>
    <script type="text/javascript" src="/bower/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/dist/growl-notifications.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="app">

<div class="container">
    <div class="row">
        <div class="col-sm-12" ng-controller="MainCtrl">

            <div class="page-header">
                <h1>Growl notifications <small>for AngularJS</small></h1>
            </div>

            <div class="row">

                <div class="col-sm-4">

                    <div growl-notification>
                        Hello there!
                    </div>

                    <div growl-notification>
                        <b>Bold title</b><br />
                        <div>
                            <span>Hello {{me}}</span>
                        </div>
                    </div>

                    <p>Try out some notifications:</p>

                    <form>
                        <div class="form-group">
                            <label>Message:</label>
                            <input type="text" class="form-control" ng-model="notification.message" />
                            <span class="help-block">The message you wish to display</span>
                        </div>
                        <div class="form-group">
                            <label>Type:</label>
                            <input type="text" class="form-control" ng-model="notification.type" />
                            <span class="help-block">The type of the message can be anything you like e.g. warning, error, succes, etc. In this example an <code>alert-&lt;type&gt;</code> CSS class is added to the notification so you can style the notifications with bootstrap styles.</span>
                        </div>
                        <div class="form-group">
                            <label>TTL:</label>
                            <input type="text" class="form-control" ng-model="notification.ttl" />
                            <span class="help-block">Time in ms how long you want to display the notification. Default is 5000ms (5 seconds) but you can change it for each notification.</span>
                        </div>
                    </form>

                    <button ng-click="addNotification()" class="btn btn-default">Add notification</button>

                </div>

                <div class="col-sm-4">

                    <p>Example HTML output with directive:</p>
                    <div growl-notifications></div>

                </div>

                <div class="col-sm-4">

                    <p>Example HTML output with bootstrap alerts:</p>
                    <ul class="list-unstyled">
                        <li ng-repeat="(id, notification) in growlNotifications.notifications">
                            <div class="alert alert-{{notification.type}}">
                                <div ng-bind-html="notification.message"></div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-12">

                    <p>Inspect growlNotifications.notifications:</p>
                    <pre>{{growlNotifications.notifications | json}}</pre>

                </div>

            </div>

        </div>
    </div>
</div>


</body>
</html>