ul.nav.nav-pills.nav-stacked.nav-docs
    li
        img.img-circle(src="../img/jurgen.jpg", style="width: 100%;")
    li
        div(style="margin-top: 30px;")
            a.btn.btn-primary.btn-block(href="https://twitter.com/jvandemo") Follow me on Twitter